/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding-top: 20px;
    background-color: #101010;
}

/* flash animation
------------------------------------------------*/

@keyframes flashEffect {
    from {
        background-color: #FC3;
    }
    to {
        background-color: white;
    }
}

.flash {
    animation-name: flashEffect;
    animation-duration: 2s;
}