<div *ngIf="accountsService.isLoggedIn()">
    <div class="panel">
        <div class="panel-body">
            <div *ngIf="!isSurveyComplete">
                <div class="page-header">
                    <h2>Take a survey</h2>
                </div>
                <form (submit)="submitSurvey($event)">
                    <div class="form-group">
                        <h4><strong>Question# 1: </strong>Which risk profile would you like to select?</h4>
                        <div class="col-sm-offset-1">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="risk-level" (change)="formData.risk_level = 'low'" id="risk-level-1" value="low" checked> Low
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="risk-level" (change)="formData.risk_level = 'medium'" id="risk-level-2" value="medium"> Medium
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="risk-level" (change)="formData.risk_level = 'high'" id="risk-level-3" value="high"> High
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div *ngIf="isSurveyComplete">
                <div class="page-header">
                    <h2>Results</h2>
                </div>
                <div *ngIf="result && result.projects">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Risk Level</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let project of result.projects">
                            <td>{{project.title}}</td>
                            <td>{{project.description}}</td>
                            <td>{{project.risk_level}}</td>
                            <td>
                                <a [routerLink]="['/project', project._id]"><span class="glyphicon glyphicon-eye-open"
                                                                                  aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="javascript:void(0)" (click)="isSurveyComplete = false">&laquo;&nbsp;Back</a>
                </div>
            </div>
        </div>
    </div>
</div>